<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>댓글 수정</h3>

<form method="POST" action="/comment/edit/<%= comment.comment_id %>">
    <textarea name="content"><%= comment.content %></textarea>
    <button type="submit">수정</button>
</form>
</body>
</html>